<p>"There’s a different kind of revolution taking place in today’s contemporary music, and at its heart lies Roxanna
  Panufnik. Hers is not a radical revolution designed to overhaul the old order completely, à la Schoenberg or Cage.
  Instead, here is a quiet revolution that utilises music’s power to unite people from different cultures, religious
  backgrounds and political persuasions: a revolution that is more John Lennon than John Cage.

  In Panufnik’s own words: ‘I’m on a mission to shout from the rooftops the beauty of all these different faiths’ music.
  It’s about bringing us together. Too often we don’t think about what we have in common, but instead about our tiny
  fraction of difference from each other.’

  The importance of music’s social and political function was, of course, not lost on Roxanna’s father. The well-known,
  much admired and highly regarded Polish composer Sir Andrzej Panufnik (1914-91) was forced to escape the oppressive
  post-war climate of his native country in 1954. He arrived in London and some nine years later married author and
  photographer Camilla Jessel. Roxanna was born in 1968(10 contemporary composers whose music you need to discover
  today. (2019, March 07). Retrieved September 24, 2020, from
  https://www.gramophone.co.uk/features/article/10-contemporary-composers-whose-music-you-need-to-discover-today)."</p>
