<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img src="../../assets/roxanna-panufnik_1.jpg" alt="image of roxanna panufnik">
    </div>
    <div class="col-md-3">
      <h3>GENERAL</h3>
      <p>
      +44 (0)20 7553 4000
      Fax: +44 (0)20 7490 4921
      sales@editionpeters.com
      </p>
    </div>
    <div class="col-md-3">
     <h4>Management</h4>
      <p>
      Katie Tearle
      Tel: +44 (0)20 7553 4033
      katie.tearle@editionpeters.com
      </p>
    </div>
  </div>
</div>
