<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/composer-list">Composer List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact">Contact Us</a>
    </li>
  </ul>
</nav>

<div role="main" class="container">
  <br/><br/>
  <div class="row">
    <h2 class="ml-3" >Assignment 4.4 - Async Pipe</h2>
    <div class="col-sm-12">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<!-- <br><br>
  <div class="row">
    <h2 class="col-md-12">{{ assignment }}</h2>
    <div app-my-image class="col-md-6">
      <img src="../assets/bluesuit.jpg" alt="male's headshot photo">
    </div>
    <div app-my-details class="col-md-6">
      <ul>
        <li>Full name</li>
        <li>Favorite food</li>
        <li>Favorite color</li>
      </ul>
    </div>
  </div> -->
